.home_container {
    height: 90%;
        background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    background-image: url("../assets/background_home.jpg");
    text-decoration-color: red;
}

.home_container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
    margin-top: -170px;
    color: white;
}
.home_container h3{
    
    color: white;
}
.home_container h1 span{
    color: white;
    border-radius: 5px;
    padding: 0 .2em;
    background-color: #4c295c;
}
.home_container a{
    text-decoration: none;
}


.home_container img{
    width: 300px;
    margin: 2em 0;
    border-radius: 10%;
    -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -o-transition: all 1s ease;
  /* IE 9 */
  -ms-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;

}
.home_container img:hover{
    border: 43px;
    -webkit-transform: scale(1.15);
    /* Safari and Chrome */
    -moz-transform: scale(1.15);
    /* Firefox */
    -ms-transform: scale(1.15);
    /* IE 9 */
    -o-transform: scale(1.15);
    /* Opera */
    transform: scale(1.15);
    cursor: pointer;
    
}
.flor{
    animation: spinner 10s linear infinite;

}

@keyframes spinner {
    0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}


#d2::-webkit-scrollbar {
    width: 16px;
}
#d2::-webkit-scrollbar-track {
    background: #cccccc; 
    XXborder-radius: 5px;
}
#d2::-webkit-scrollbar-thumb {
    XXborder-radius: 5px;
    background: gray;
}

/* ScrollBar*/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: 
    -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(136, 122, 217)),
									   color-stop(0.72, rgb(127, 73, 189)),
									   color-stop(0.86, #4c295c));
}

